version: '3.4'
services:
  app:
    build:
      target: dev
    environment:
      - APP_ENV=dev
    env_file:
      - config/app.dev.env
    volumes:
      - ./app:/app
  composer:
    image: composer:${VER_COMPOSER:-2.5}
    volumes:
      - ./app:/app
  dynamodb:
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath ./data"
    image: amazon/dynamodb-local:latest
    container_name: dynamodb-local
    ports:
      - "8000:8000"
    volumes:
      - "./.dockerdata/dynamodb:/home/dynamodblocal/data"
    working_dir: /home/dynamodblocal
